<form action="/create_group_from_review" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @group.name %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @group.user_id %>">
  </div>

  <input type="hidden" name="review_access_id" value="<%= @review.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create group
  </button>
</form>
